<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST FOOL</title>
    <link rel="stylesheet" href="../views/assecs/css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="body__todoList">
                <form id="form" method="POST" class="form">
                    <input type="text" name="input_text" class="input" required placeholder="write your plan">
                    <button class="button" type="submit">add plan</button>
                </form>
                <ul class="todoList">
                
                </ul>
            </div>
        </div> 
    </section>



    <script src="/views/assecs/js/main.js"></script>
</body>
</html>