*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
ol, ul{
    list-style: none;
}
.body__todoList{
    width: 500px;
    margin: 20px auto;
    background-color: rgb(14, 122, 211);
    padding: 10px 15px;
    border: solid 1.5px black;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
        
        .input{
            padding: 5px 10px;
            margin: 0 10px;
            color: red;
            background-color:rgb(200, 233, 223);
            border: none;
            outline: none;
            border-radius: 50px;
            width: 300px;
        }
        .button{
            padding: 5px 10px;
            margin: 0 10px;
            background: rgb(251, 26, 26);
            border-radius: 5px;
            border: none;
            color: white;
        }
    }
    .todoList{
        width: 100%;
        
        .todoList__item{
            width: 97%;
            background:rgb(58, 236, 58);
            border-radius: 5px;
            border: solid 1px black;
            margin: 5px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 5px;
            height: 27px;
            
            p{
                width: 60%;
                padding: 5px;
            }
           
            button{
                width: 20%;
                padding: 5px 2px;
                background-color: red;
                color: white;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }
           
            time{
                color: rgb(255, 0, 170);
                padding: 3px;
                padding-right: 5px;
            }
            

            .underline{
                text-decoration: underline;
            }
        }
        .todo{
            text-decoration: line-through;
        }
        .opos{
            opacity: 0.5;

        }

    }
}